.pageTitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #2B3990;
}

p {
    margin: 0;
}

#card {
    border: 1px solid #E6E8EC;
    border-radius: 20px;
    background: #FCFCFD;
    padding: 30px;
}

#cardTitle h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #23262F;
}

#cardTitle .titleInfo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #009444;
}


#keyPointInformation p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #777E91;
}

#keyPointInformation .pointInfo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #009444;
}

table {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #777E90;
}

thead {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #009444;
    background: #E3F2EB;
}



th,
td {
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
}

#total .totalprice {

    background: #FFFFFF;
    border: 1px solid #E6E8EC;
    box-shadow: 0px 20px 32px -24px rgba(15, 15, 15, 0.12);
    border-radius: 10px;
    padding: 20px 60px 20px 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #777E90;
}

#total {
    gap: 14px;
    margin-top: 35px;
}

#total .totalVATExclusive p:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #009444;
}

#total .totalVATExclusive p:nth-child(2) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 12px;
    color: #777E91;
}

#stampCard {
    width: fit-content;
    padding: 20px 65px 20px 65px;
    background: #FFFFFF;
    border: 1.5px dashed #E6E8EC;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #777E90;
}